

	
<h1>Your BreakupText has been sent. 
	<br>The hard part is over. </h1>
<br>

<div class="madlib">

Here's what we sent to Jake:
</div>
<div id = "senttext">
", I know you expected to make it to our next anniversary. Maybe beyond, who knows? There was that one night we named our maybe-babies. That was cute. You're cute. But it's over between us. We've drifted apart. It's not just your impotency, it really isn't. And no, this isn't about that guy at work. It's us. Ever hear the song Cape Canaveral by Conor Oberst? Of course you haven't, that was one of our issues. Anyways, we're like that. A poltergeist love. And I need an exorcism. -"+fromname+" (sent via http://breakuptext.me)"
</div>

<a href="/">
<input class="btn btn-large btn-primary" width="200" name="commit" id="anotherbutton" type="submit" value="Now Send Another Breakup Text!" />
</a>


