
<div class="container">
<h1>Text Your Breakup</h1>
<p>Because It's Just Easier That Way</p>
<br><br>

<form accept-charset="UTF-8" action="/send" class="breakup_text"
      id="breakup_text" method="post">

  	<label for="number">Number</label>
  	<input id="number" name="number_to_send_to" size="30" type="text" />

	<label for="name">Name</label>
  	<input id="name" name="person" size="30" type="text" />
	<br>
  	<input class="btn btn-large btn-primary" name="commit" type="submit" 
         value="Send Breakup Text" />
</form> 
</div>