

	
<h1>Your BreakupText has been sent. 
	<br>The hard part is over. </h1>
<br>

<div class="madlib">

Here's what we sent to <%= @person_name %>:
</div>
<div id = "senttext">
<%= @sent_text %>
</div>

<a href="/">
<input class="btn btn-large btn-primary" width="200" name="commit" id="anotherbutton" type="submit" value="Send Another Breakup Text!" />
</a>


