<!DOCTYPE html>
<html>
<head>
  <title>BreakupText — Because It's Just Easier This Way</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=0.5">

</head>
<body>

<div class="container">

<%= yield %>


<div id="footer">

    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.breakuptext.me&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=142077942632037" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:20px;" allowTransparency="true"></iframe>
      &nbsp;&nbsp;


      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.breakuptext.me" data-text="I broke up with someone via text message" data-via="jrlevine" data-related="jrlevine" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      <br>
        <p class="muted credit">Brought to you by <a href="https://twitter.com/jrlevine" target="_blank">Jake Levine</a> and <a href="https://twitter.com/laurenleto" target="_blank">Lauren Leto</a>, and inspired by the adventures of <a href="http://www.twitter.com/patrickainslie" target="_blank">Patrick</a> and <a href="http://www.twitter.com/tim_sportz" target="_blank">Jim</a>.</p>
    </div>

</div>

</body>
</html>
